{% extends 'base.html.twig' %}
{% block body %}
    <div class="container left-right-border">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="text-center test-border padding-25">LISTA ALBUMÓW</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="text-center padding-25">
                    <a href="{{ path('album_new') }}"><button class="btn btn-primary btn-lg" id="singlebutton">Dodaj album</button></a>                          
                </div>
            </div>
        </div>
{#        <div class="row padding-btn">
            <div class="col-sm-12">
                <div class="text-center">
                    <a href="{{ path('album_new') }}"><button class="btn btn-primary" id="singlebutton">Dodaj album</button></a>                          
                </div>
            </div>
        </div>
#}        
        <div class="row">
            <div class="col-xs-12">
                {% for album in albums %}
                    <div class="row album">
                        <a href="{{ path('album_show', {'id': album.id}) }}"> 
                        
                            <div class="col-xs-12 col-md-7 text-center">
                                <img src="{{ upload_dir }}{{ album.sleevePicFilename() }}" class="picture-big" alt=""/>                             
                            </div>
                            <div class="col-xs-12 col-md-5 text-center">
                                <div class="visible-lg visible-md height-20-vh"></div>
                                <div class='band-name'>{{ album.name }} ({{ album.released }})</div>
                                <div>{{ album.band.name }}</div>
                            </div>
                            
                        </a>
                    </div>        
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
