{% extends 'base.html.twig' %}
{% block body %}
    <h1 class="list-album-header">LISTA ALBUMÓW</h1>
    <div class="row padding-btn">
        <div class="col-sm-12">
            <div class="text-center">
                <a href="{{ path('album_new') }}"><button class="btn btn-primary" id="singlebutton">Dodaj album</button></a>                          
            </div>
        </div>
    </div>
    <div class="list-group">
        {% for album in albums %}

            <a href="{{ path('album_show', {'id': album.id}) }}" class="list-group-item"> 
                <img src="{{ upload_dir }}{{ album.sleevePicFilename() }}" alt="" class="picture-small" />                             
                <span class='band-name'>{{ album.name }} ({{ album.released }}) - {{ album.band.name }}</span>
            </a>
        {% endfor %}
    </div>
{% endblock %}
