{% extends 'base.html.twig' %}
{% block body %}
    <h1>Albums list</h1>
    <div class="list-group">
        {% for album in albums %}
            
            <a href="{{ path('album_show', {'id': album.id}) }}" class="list-group-item"> 
                <img src="{{ upload_dir }}{{ album.sleevePicFilename() }}" alt="" class="picture-small" />                             
                <span class='band-name'>{{ album.name }} ({{ album.released }}) - {{ album.band.name }}</span>
            </a>
        {% endfor %}
    </div>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Released</th>
                <th>Description</th>
                <th>Rate</th>
                <th>Sleevepicfilename</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for album in albums %}
            <tr>
                <td><a href="{{ path('album_show', { 'id': album.id }) }}">{{ album.id }}</a></td>
                <td>{{ album.name }}</td>
                <td>{{ album.released }}</td>
                <td>{{ album.description }}</td>
                <td>{{ album.rate }}</td>
                <td>{{ album.sleevePicFilename }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('album_show', { 'id': album.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('album_edit', { 'id': album.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('album_new') }}">Create a new album</a>
        </li>
    </ul>
{% endblock %}
